In [1]:
import pandas as pd

In [2]:
import matplotlib.pylab as plt

In [5]:
df=pd.read_csv(r"C:\Users\yash\Downloads\salaries.csv")

In [6]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [7]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [8]:
target=df.salary_more_then_100k

In [9]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_comapny=LabelEncoder()
le_job=LabelEncoder()

In [13]:
le_degree=LabelEncoder()

In [17]:
input=df.drop(['salary_more_then_100k'],axis='columns')

In [18]:
input

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [19]:
input['company_n']=le_comapny.fit_transform(input['company'])

In [20]:
input['jobs_n']=le_job.fit_transform(input['job'])
input['degree_n']=le_degree.fit_transform(input['degree'])

In [21]:
input

       company                  job     degree  company_n  jobs_n  degree_n
0       google      sales executive  bachelors          2       2         0
1       google      sales executive    masters          2       2         1
2       google     business manager  bachelors          2       0         0
3       google     business manager    masters          2       0         1
4       google  computer programmer  bachelors          2       1         0
5       google  computer programmer    masters          2       1         1
6   abc pharma      sales executive    masters          0       2         1
7   abc pharma  computer programmer  bachelors          0       1         0
8   abc pharma     business manager  bachelors          0       0         0
9   abc pharma     business manager    masters          0       0         1
10    facebook      sales executive  bachelors          1       2         0
11    facebook      sales executive    masters          1       2         1
12    facebook     business manager  bachelors          1       0         0
13    facebook     business manager    masters          1       0         1
14    facebook  computer programmer  bachelors          1       1         0
15    facebook  computer programmer    masters          1       1         1

In [22]:
new_input=input.drop(['company','job','degree'],axis='columns')

In [23]:
new_input

    company_n  jobs_n  degree_n
0           2       2         0
1           2       2         1
2           2       0         0
3           2       0         1
4           2       1         0
5           2       1         1
6           0       2         1
7           0       1         0
8           0       0         0
9           0       0         1
10          1       2         0
11          1       2         1
12          1       0         0
13          1       0         1
14          1       1         0
15          1       1         1

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
model=DecisionTreeClassifier()

In [26]:
model.fit(new_input,target)

DecisionTreeClassifier()

In [27]:
model.predict([[2,1,0]])

C:\Users\yash\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [28]:
model.predict([[0,0,1]])

C:\Users\yash\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])